h1{
    color: white;
    background-image: url(High-Definition-Ultra-HD-Wallpaper.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h2{
    font-family: unset
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 2px;
    text-indent: 0px;
    color: black
}

#destaque{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 2px;
    text-indent: 0px;
    color: tomato
}